.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  flex: 2;
  background-color: #61dafb;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small {
  flex: 1;
}

.main {
  display: flex;
  flex-grow: 6;
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.footer {
  height: 5vh;
  background-color: #4dd2f3;
}

.carousel {
  display: flex;
  flex: 6;
  background-color: #fff;
}

.slider {
  display: flex;
  background-color: #fff;
}

.sliderContainer {
  flex: 5;
  overflow-x: hidden;
  margin-top: 40px;
}

.arrow {
  cursor: pointer;
  background-color: #fff;
  justify-content: space-around;
  align-self: center;
  font-size: 130px;
}

.left {
  float: left;
}
.right {
  float: right;
}
.paginator {
  display: flex;
  flex: 1;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.dot {
  color: grey;
}
.selected {
  color: red;
}

.item {
  display: flex;
  min-width: 400px;
  flex-direction: column;
  margin: 3%;
  cursor: pointer;
}

.item .image {
  min-width: 400px;
  min-height: 400px;
  background-color: rgb(25, 181, 209);
  background-size: cover;
}

.item .title {
  font-size: 30px;
  padding-top: 10px;
}

.item .description {
  font-size: 15px;
  padding-top: 10px;
}

.detailsThumb {
  background-color: grey;
  width: 140px;
  height: 70px;
  margin: 1%;
}
